* General Styles Colors @highlight: #003366 @text: #4A4A4A;
@text-light: #9A9A9A @body-background: #EAE3D3;
*/ *,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background: #EAE3D3;
  text-align: center;
}

body {
  font-size: 1em;
  line-height: 1.5;
  font-family: Lucida Grande, sans-serif;
  max-width: 43.75em;
  /* 880/16 */
  margin: 0 auto;
  padding: 0;
  color: #4A4A4A;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

header {
  margin: 1em 0 2em;
  color: #003366;
}

header h1 {
  font-family: 'Yellowtail', serif;
  font-size: 4em;
  text-shadow: 0 4px 2px rgba(0, 0, 0, .1);
  margin: 0;
}

header h1 a {
  text-decoration: none;
}

header p {
  margin-top: -.425em;
  text-shadow: 0 1px 0px rgba(0, 0, 0, .15);
  font-size: .875em;
  /* 14/16 */
}

.test {
  position: relative;
}

input {
  width: 75%;
  display: block;
  font-size: 1em;
  padding: .625em .85em;
  padding-right: 7em;
  line-height: 1.5;
  margin: 0;
  border: 1px solid #bbb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

input:focus {
  border-color: #EAE3D3;
}

.hbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*Align children horizontally*/
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

button {
  text-decoration: none;
  background: #ED4337;
  line-height: 1.5;
  color: white;
  font-size: 1em;
  border-radius: 0 3px 3px 0;
  border: 0;
  outline: 0;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
  padding: 0 1em;
  font-family: 'Yellowtail', serif;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: .5;
}


/*
    Content Styles
    Main container for content, i.e. the icons, error messages, etc
*/

.wrapper {
  background: #FFFFFF;
  border: 1px solid #ccc;
  text-align: center;
  padding: 2em;
  margin: .5em 0 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 3px;
  position: relative;
}

.content {
  max-width: 512px;
  margin: 0 auto;
  position: relative;
  word-wrap: break-word;
  /* for long urls */
}

.content * {
  /* do a simple reset on elements in .content */
  margin: 0;
  padding: 0;
}

.content strong {
  font-weight: bold;
  display: block;
}